@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.App {
  font-family: "Public Sans", sans-serif;
  text-align: center;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  /* @apply bg-slate-400/50 w-1.5; */
  background-color: rgb(148 163 184 / 0.5);
  width: 0.375rem /* 6px */;
}
